body {
    padding-top: 80px;
}

$theme-colors: (
    "primary": #004FA3,
);

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

.border-bottom-light {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

/* https://coolors.co/126259-07a0c3-f0c808-084c61-dd1c1a */
.bg-green-field {
    background-color: #0b6e4f;
}
